* {
	margin: 0;
	padding: 0;
}

html {
	overflow-y: scroll;
}

body {
	margin: 0;
	font-family: "ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro", "ÉÅÉCÉäÉI", "Meiryo", "Osaka", "Verdana", "ÇlÇr ÇoÉSÉVÉbÉN", "MS PGothic", sans-serif;
	font-size: 10px;
	_font-size: 62.5%;
	color: #333333;
	line-height: 1.6;
	text-align: center;
	-webkit-text-size-adjust: none; /* for iPhone */
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0;
}

img {
	border: 0;
	vertical-align: bottom;
}

.clear {
	clear: both;
}

/*-- clearfix --*/

.clearfix:after {
	content: "."; 
	display: block; 
	clear: both; 
	height: 0; 
	visibility: hidden;
}

.clearfix {
	min-height: 1px;
}

* html .clearfix {
	height: 1px;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}

a:link    {color: #0066cc; text-decoration: underline;}
a:visited {color: #0066cc; text-decoration: underline;}
a:hover   {color: #00a8e5; text-decoration: none;}
a:active  {color: #0066cc; text-decoration: underline;}


